{% load static %}
<nav class="navbar navbar-expand-lg navbar-white bg-dark">
    <a class="navbar-brand" href="{% url 'apps:index' %}">
        <img src="{% static 'img/logo-inviso.ico' %}" width="30" height="30" class="d-inline-block align-top" alt=""
             loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if path == '/' %}active{% endif %}">
                <a class="nav-link text-white" href="{% url 'apps:index' %}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if path == '/administrations/' %}active text-white{% endif %} {% if not user.is_staff %}disabled{% endif %}">
                <a class="nav-link " href="" tabindex="-1">Administration</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'apps:index' %}">
            {% csrf_token %}
            {{ form.company }}
            {% if form.errors %}
                <div class="text-danger ml-2 mt-3">
                    {% for field, error_list in form.errors.items %}
                        {% for error in error_list %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <button class="btn btn-outline-success my-2 my-sm-0" id="submitCompanyForm" type="submit"><i
                    class="fas fa-search"></i></button>
        </form>


        <div class="navbar-text d-flex my-2 my-lg-0">
            <a href="{% url 'guard:logout' %}" class="btn btn-outline-danger ml-1 my-2 my-sm-0">Déconnecter</a>
        </div>
    </div>
</nav>