{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'apps:index' %}">
        <img src="{% static 'img/logo-inviso.ico' %}" width="30" height="30" class="d-inline-block align-top" alt=""
             loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if path == '/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'apps:index' %}">IDR-IDM <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if path == '/tab-1/' %}active{% endif %} disabled">
                <a class="nav-link disabled" href="{% url 'apps:index' %}" >IDR-Colas</a>
            </li>
            <li class="nav-item {% if path == '/accounts/administrations/' %}active{% endif %} {% if not user.is_staff %}disabled{% endif %}">
                <a class="nav-link " href="{% url 'guard:index' %}" tabindex="-1">Administration</a>
            </li>
        </ul>
        {% if path == '/' %}
            <div class="form-inline my-2 my-lg-0">
                <label for="filter-field"></label>
                <select id="filter-field" class="selectpicker mr-2" data-live-search="true" data-style="btn-primary"
                        data-header="Selection un colonne">
                    <option></option>
                    <option value="matriculate">Immat ou N° série</option>
                    <option value="model">Modèle / Remorque</option>
                    <option value="client_name">Client</option>
                    <option value="localisation_name">Localisation</option>
                    <option value="status">Actif / Non Actif</option>
                </select>

                <label for="filter-type"></label>
                <select id="filter-type" class="selectpicker mr-2" data-width="50px" data-style="btn-secondary">
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                    <option value="like">like</option>
                </select>

                <label for="filter-value"></label>
                <input id="filter-value" type="text" class="form-control  mr-2" placeholder="Valeur à Filtrer">

                <button class="btn btn-outline-success my-2 my-sm-0" id="filter-clear"><i
                        class="fas fa-quidditch-broom-ball"></i>
                </button>
            </div>
        {% endif %}

        <div class="btn text-white">
            <i class="fas fa-user " title=""></i> ({{ user.username }})
        </div>
        <div class="navbar-text d-flex my-2 my-lg-0">
            <a href="{% url 'guard:logout' %}" class="btn btn-outline-danger ml-1 my-2 my-sm-0">Déconnecter</a>
        </div>
    </div>
</nav>