{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load humanize %}
{% block title %}Home{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'dist/css/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/monokai.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/tableexport.min.css' %}">
    <link rel="stylesheet" href="{% static 'tabulator/dist/css/tabulator_midnight.min.css' %}">

    <link rel="stylesheet" href="{% static 'summernote/summernote-bs4.min.css' %}">
   
{% endblock %}
{% block content %}
    <main class="container-fluid mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                     role="alert">
                    <strong>{{ message.tags|title }}!</strong> {{ message.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="mb-2">
            <button class="btn btn-secondary" id="download-xlsx"><i class="fas fa-file-excel"></i></button>
            <button class="btn btn-secondary" id="print-table"><i class="fas fa-print"></i></button>
            <button class="btn btn-info" id="history-undo"><i class="fas fa-undo-alt"></i></button>
            <button class="btn btn-info" id="history-redo"><i class="fas fa-redo-alt"></i></button>
            <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                    data-target="#listMachineModal"><i class="fas fa-list-alt"></i></button>
            <button type="button" class="btn btn-warning" data-toggle="modal"
                    data-target="#addCompanyModal" {% if not user.level_1 %}disabled{% endif %}><i
                    class="fas fa-plus-circle"></i>
            </button>
        </div>
        <div id="pannes"></div>

    </main>
{% endblock %}
{% block script %}


    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/tiledwebmap.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>


    <script type="text/javascript" src="{% static 'tabulator/dist/js/tabulator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tabulator/dist/js/luxon.js' %}"></script>
    <script type="text/javascript" src="{% static 'tabulator/dist/js/jspdf.umd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tabulator/dist/js/jspdf.plugin.autotable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tabulator/dist/js/xlsx.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'summernote/summernote-bs4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/xml.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/formatting.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/FileSaver.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/tableexport.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plupart/dist/5x5jqpi.js' %}"></script>

    <script type="text/javascript">
        function textareaPopup(cell, onRendered, success, cancel) {
            const uid = cell.getData().uid_name;
            const modalId = `editCellModal-${uid}`;

            const modalHtml = `
                <div class="modal fade" id="${modalId}" tabindex="-1" role="dialog" aria-labelledby="${modalId}Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="${modalId}Label">Ajout ou Modification</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <textarea id="cellValue-${uid}" class="form-control"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary" id="saveChanges-${uid}">Sauvegarder</button>
                            </div>
                        </div>
                    </div>
                </div>
            `;



            $('body').append(modalHtml);

            const modalElement = document.getElementById(modalId);

            $(modalElement).modal('show');
            let textArea;

            textArea = document.getElementById(`cellValue-${uid}`);
            textArea.value = cell.getValue();

            $(textArea).summernote({
                placeholder: 'Enter text here...',
                tabsize: 0.5,
                height: 150,
                codemirror: {
                    theme: 'monokai'
                },
                disableResizeEditor: true,
                disableDragAndDrop: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', []], // Les options d'insertion sont vides pour désactiver les fonctionnalités de téléchargement de fichiers
                    ['view', ['fullscreen', 'codeview']],
                ],
                buttons: {
                    file: false, // Désactiver complètement le bouton "File"
                },
            });



            const saveChangesBtn = document.getElementById(`saveChanges-${uid}`);
            saveChangesBtn.addEventListener("click", () => {
                const newValue = $(textArea).summernote('code');
                success(newValue);
                $(modalElement).modal('hide');
            });

            $(modalElement).on('hide.bs.modal', () => {
                $(textArea).summernote('destroy');
                cancel();
                $(`#${modalId}`).remove();
            });

            return textArea;
        }

        function uploadPiecePopup(cell, onRendered, success, cancel) {
            {#https://www.jqueryscript.net/form/advanced-drag-drop-uploader.html#}
            const uid = cell.getData().uid_name;
            const modalId = `uploadCellModal-${uid}`;

            const modalHtml = `
                <div class="modal fade" id="${modalId}" tabindex="-1" role="dialog" aria-labelledby="${modalId}Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="${modalId}Label">Piece Jointe du ${cell.getData().matriculate}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div id="uploader" class="uploader" style="width: 100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;


            $('body').append(modalHtml);

            const modalElement = document.getElementById(modalId);
            $(modalElement).modal('show');
          
            $(`.uploader`).initUploader({
                destination:'{% url 'apps:upload_file' %}',
                destinationParams: {
                    id: `${uid}`
                },
                selectOpts: {a: 'jquery', b: 'script', c: 'net', d: 'auther', contentType: true},
                showDescription: true,
                fileLimit: 10,
                sizeLimit: 1000,
                postFn : function() {
                    {#$(`#${modalId}`).remove();#}

                    $(modalElement).modal('hide');
                },
                arguments: ''
            });


            return true;
        }

        let datetimeEditor = function (cell, onRendered, success, cancel, editorParams) {

            let editor = document.createElement("input");

            editor.setAttribute("type", "datetime");

            //create and style input
            editor.style.padding = "3px";
            editor.style.width = "100%";
            editor.style.boxSizing = "border-box";

            //Set value of editor to the current value of the cell
            editor.value = luxon.DateTime.fromFormat(cell.getValue(), "dd/MM/yyyy hh:mm").toFormat("yyyy-MM-dd hh:mm")

            //set focus on the select box when the editor is selected (timeout allows for editor to be added to DOM)
            onRendered(function () {
                editor.focus();
                editor.style.css = "100%";
            });

            //when the value has been set, trigger the cell to update
            function successFunc() {
                success(luxon.DateTime.fromFormat(cell.getValue(), "yyyy-MM-dd hh:mm").toFormat("dd/MM/yyyy hh:mm"));
            }

            editor.addEventListener("change", successFunc);
            editor.addEventListener("blur", successFunc);

            //return the editor element
            return editor;
        };

        let minMaxFilterEditor = function (cell, onRendered, success, cancel, editorParams) {

            let end;

            let container = document.createElement("span");

            //create and style inputs
            let start = document.createElement("input");
            start.setAttribute("type", "number");
            start.setAttribute("placeholder", "Min");
            start.setAttribute("min", 0);
            start.setAttribute("max", 100);
            start.style.padding = "4px";
            start.style.width = "50%";
            start.style.boxSizing = "border-box";

            start.value = cell.getValue();

            function buildValues() {
                success({
                    start: start.value,
                    end: end.value,
                });
            }

            function keypress(e) {
                if (e.keyCode === 13) {
                    buildValues();
                }

                if (e.keyCode === 27) {
                    cancel();
                }
            }

            end = start.cloneNode();
            end.setAttribute("placeholder", "Max");

            start.addEventListener("change", buildValues);
            start.addEventListener("blur", buildValues);
            start.addEventListener("keydown", keypress);

            end.addEventListener("change", buildValues);
            end.addEventListener("blur", buildValues);
            end.addEventListener("keydown", keypress);


            container.appendChild(start);
            container.appendChild(end);

            return container;
        }

        let iconDelete = function (cell, formatterParams) { //plain text value
            return "<i class='fa fa-trash-can'></i>";
        };


        let tableMachine = new DataTable('#tableMachine', {
            info: false,
            filter: false,
            ajax: '{% url 'apps:get_all_machines_in_table' %}',
            columns: [
                {data: null, width: '5%'},
                {data: 'matriculate'},
                {data: 'model'},
            ],
            select: true,
            createdRow: function (row, data, dataIndex) {
                tableMachine.rows().every(function (idx) {
                    $(this.node()).find('td').eq(0).html(idx + 1);
                });
            },
        });


        let tickCrossEditor = function (cell, onRendered, success, cancel) {
            // Create the checkbox element
            let checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.className = "mt-3";

            // Get the current value of the cell
            let currentValue = cell.getValue();
            console.log(currentValue)
            // Check if both matriculate and model fields are not empty
            let canTick = cell.getRow().getData().matriculate;
            console.log(cell.getRow().CellEdit())
            // Set the checkbox state based on the current value and allowed state
            checkbox.checked = currentValue === true && canTick;
            checkbox.disabled = !canTick;
            if (cell.getRow().getData().archived_status){
                checkbox.disabled = true
                checkbox.checked = false
            }

            // Handle checkbox change event
            checkbox.addEventListener("change", function () {
                if (canTick) {
                    success(checkbox.checked);
                } else {

                    checkbox.checked = false;

                }
            });

            onRendered(function () {
                cell.getElement().appendChild(checkbox);
            });

            return checkbox;
        };

        let headerPopupFormatter = function (e, column, onRendered) {
            let container = document.createElement("div");

            let label = document.createElement("label");
            label.innerHTML = "Filtre Colonne:";
            label.style.display = "block";
            label.style.fontSize = ".7em";

            let input = document.createElement("input");
            input.placeholder = "Chercher ...";
            input.value = column.getHeaderFilterValue() || "";

            input.addEventListener("keyup", (e) => {
                column.setHeaderFilterValue(input.value);
            });

            container.appendChild(label);
            container.appendChild(input);

            return container;
        }

        let emptyHeaderFilter = function () {
            return document.createElement("div");
        }

        let addRow = function () {
            let newRowData = {};
            table.addRow(newRowData, false);
        }

        function sendSelectedRows() {
            let editedCells = table.getEditedCells();
            let selectedRowsData = editedCells.filter(cell => {
                let rowData = cell.getRow().getData();
                return cell.getColumn().getField() === "tickCross" && rowData.tickCross === true;
            }).map(cell => cell.getRow().getData());
            fetch("", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(selectedRowsData)
            }).then(response => response.json())
                .then(data => {
                    // Handle the response from the backend (success/failure)
                    console.log("AJAX POST response:", data);
                })
                .catch(error => {
                    console.error("AJAX POST error:", error);
                });
        }

        function uniqueCellFormatter(cell) {
            let data = table.getData(); // Get all table data
            let value = cell.getValue();

            // Check if the value is unique
            let isUnique = data.every(row => row.matriculate !== value || row === cell.getRow());

            if (!isUnique) {
                // Set a red border if the value is not unique
                return {
                    border: "2px solid red"
                };
            }

            // No border by default
            return {};
        }


        function reloadPage() {
            window.location.reload();
        }

        function formatDate(dateString) {
            if (dateString && dateString.trim() !== '') {
                dateString = dateString.split(' ')
                const [day, month, year] = dateString[0].split('/');
                return `${year}-${month}-${day}`;
            }
            return null;
        }

        function calculImmo(cell) {
            const rowData = cell.getRow().getData();
            const formattedStartDate = formatDate(rowData.start);

            if (formattedStartDate) {
                const startDate = new Date(formattedStartDate);
                if (isNaN(startDate.getTime())) {
                    return "";
                }

                let today;
                if (rowData.leave) {
                    today = new Date(formatDate(rowData.leave));
                } else {
                    today = new Date();
                }
                const diffInMs = today.getTime() - startDate.getTime();


                return Math.floor(diffInMs / (1000 * 60 * 60 * 24));
            }
            return '';
        }

        function calculImmoReel(cell) {
            const rowData = cell.getRow().getData();

            const formattedStartDate = formatDate(rowData.start);
            const formattedEndDate = formatDate(rowData.leave);

            if (formattedStartDate && formattedEndDate) {
                const startDate = new Date(formattedStartDate);
                const endDate = new Date(formattedEndDate);
                if (isNaN(startDate.getTime())) {
                    return "";
                }
                if (isNaN(endDate.getTime())) {
                    return "";
                }

                const diffInMs = endDate.getTime() - startDate.getTime();

                return Math.floor(diffInMs / (1000 * 60 * 60 * 24)) + 1;
            }
            return ''

        }


        function sanitizeHTML(value) {
            const cleanText = DOMPurify.sanitize(value, {ALLOWED_TAGS: []});
            const textWithoutTags = cleanText.replace(/<[^>]+>/g, '');
            return textWithoutTags.trim();
        }

        let textareaAccessor = function (value, data, type, params, column) {
            return sanitizeHTML(value);
        }

        function stateLine(cell, formatterParams) {
            let rowData = cell.getRow().getData();
            let rowStart = rowData.start;
            let rowLeave = rowData.leave;

            if (rowStart) {
                if (rowLeave) {
                    return 'Active';
                } else {
                    return 'Non Active';
                }
            } else {
                return '';
            }

        }

        let table = new Tabulator("#pannes", {
            ajaxURL: "{% url 'apps:get_breakdown' %}",
            ajaxContentType: "json",
            rowHeight: 40,
            resizableRows: true,
            resizableRowGuide: true,
            editorEmptyValue: '',
            downloadConfig: {
                columnHeaders: true, //do not include column headers in downloaded table

                columnGroups: false, //do not include column groups in column headers for downloaded table
                rowHeaders: false, //do not include row headers in downloaded table
                rowGroups: false, //do not include row groups in downloaded table
                columnCalcs: true, //do not include column calcs in downloaded table
                dataTree: true, //do not include data tree in downloaded table
            },
            persistence: {
                sort: true,
                filter: false,
                {#columns: true,#}
            },
            persistenceID: "pannePersistence",
            layout: "fitData",
            printAsHtml: true,
            printStyled: true,
            printRowRange: "all",
            printHeader: "<h1>Example Table Header<h1>",
            printFooter: "<h2>Example Table Footer<h2>",
            footerElement: `<button type='button' class='btn btn-success btn-sm mr-2' id="openModalBtn"><i class='fas fa-map-location'></i></button><button type='button' class='btn btn-warning btn-sm mr-2' id='reload-table' onClick="reloadPage()"><i class='fas fa-sync-alt'></i></button>`,
            tooltipsHeader: false,
            rowFormatter: function (row) {
                const rowData = row.getData();
                const start = rowData.start;
                const leave = rowData.leave;

                if (start) {
                    if (leave) {
                        row.getElement().style.backgroundColor = "#1e3b20"; // Add 'active-row' class

                    } else {
                        row.getElement().style.backgroundColor = "#3b1e2b"; //
                    }
                }
            },
            rowHeader: {
                title: `<button type='button' class='btn btn-primary btn-sm mr-2' id='add-row' {% if not user.level_1 %}
                    disabled{% endif %} onclick="addRow()"><i class='fas fa-plus'></i></button>`,
                headerSort: false,
                resizable: false,
                minWidth: 30,
                width: 35,
                frozen: true,
                rowHandle: true,
                editor: false,
                formatter: "handle",
            },
            movableRows: true,
            movableColumns: true,
            history: true,
            success: function (data) {
                if (data.status !== 200 && data.status !== 201) {
                    // Display error message in alert and prevent tickCross change
                    alert(data.error || "An error occurred while fetching data.");
                    return; // Exit the function if there's an error
                }
                const breakdowns = data.data;
                table.setData(breakdowns);
            },
            headerSortClickElement: 'icon',
            selectableRangeClearCells: true,
            columnHeaderVertAlign: "bottom",
            height: "40vw",
            renderHorizontal: "virtual",
            resizableColumnGuide: true,
            dataTree: true,
            dataTreeStartExpanded: false,
            dataTreeFilter:false,
            dataTreeSort:false,
            dataTreeSelectPropagate:true,
            {#dataTreeCollapseElement:"<i class='fas fa-minus-square'></i>",#}
            {#dataTreeChildField:"childRows",#}
            initialSort: [
                {column: "matriculate", dir: "asc"},
            ],
            placeholder: "Aucun Donnée",
            placeholderHeaderFilter: 'Aucun Donnée Correspondent',
            groupClosedShowCalcs: true,
            headerSort: true,
            columnDefaults: {
                tooltip: true,
                headerHozAlign: "center",
                editor: false,
                resizable: "header",
            },
            columns: [
                {
                    title: "<code>*</code>",
                    frozen: true,
                    resizable: false,
                    hozAlign: "center",
                    {% if user.level_1 or user.level_2 or user.level_3 or user.level_4 %}
                        formatter: "tickCross",
                        download: false,
                        editor: tickCrossEditor,
                        headerSort: false,
                        cellEdited: function (cell, onRendered, success, cancel) {
                            let edited = cell.isEdited();
                            if (edited) {
                                let conf = confirm("Est-vous sûr de vouloir enregistrer ce ligne ?")
                                if (conf) {
                                    const rowData = cell.getRow().getData();
                                    console.log("UID: " + rowData.uid_name)
                                    if (rowData.uid_name) {
                                        fetch("{% url 'apps:update_line' %}", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify(rowData)
                                        })
                                            .then(response => {
                                                if (!response.ok) {
                                                    return response.json().then(data => {
                                                        alert(data.error);
                                                        throw new Error(data.error); // Throw an error to stop further processing
                                                    });
                                                }
                                                return response.json(); // Parse the JSON response for successful requests
                                            })
                                            .then(data => {
                                                if (data.success) {
                                                    cell.getRow().update(rowData);
                                                }
                                            })
                                            .catch(error => {
                                                console.error("Error updating breakdown:", error);
                                                cancel()
                                            });
                                    }
                                    else {
                                        fetch("{% url 'apps:post_line' %}", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify(rowData)
                                        })
                                            .then(response => {
                                                if (response.status === 409) {
                                                    return response.json().then(data => {
                                                        alert(data.error);
                                                        location.reload();
                                                    });
                                                }
                                                return response.json(); // Parser la réponse JSON pour les requêtes réussies
                                            })

                                    }
                                }
                            }
                        }
                    {% endif %}

                },
                {
                    title: "N°",
                    resizable: false,
                    formatter: "rownum",
                    hozAlign: "center",
                    width: 40,
                    sorter: "number",
                    editor: false,
                    frozen: true,
                    download: false,
                    headerSort: false,
                    {#bottomCalc:"count",#}
                },
                {
                    title: "ID Rental",
                    columns: [
                        {
                            title: "Immat ou N° série",
                            field: "matriculate",
                            width: 150,
                            {% if user.level_1 %}
                                editor: "list",
                            {% endif %}
                            editorParams: {
                                placeholderEmpty: "Aucun Matricule",
                                sort: "asc",
                                valuesURL: "{% url 'apps:get_all_matriculate' %}",
                                placeholderLoading: "Chargement...",
                            },
                            headerPopupIcon: "<i class='fas fa-filter' title='Filter column'></i>",
                            headerFilter: emptyHeaderFilter,
                            headerPopup: headerPopupFormatter,
                            headerFilterFunc: "like",
                        },
                        {
                            title: "Modèle / Remorque",
                            field: "model",
                            {% if user.level_1 %}
                                editor: "input",
                            {% endif %}

                            width: 150,
                        },
                        {
                            title: "CLIENT",
                            field: "client_name",
                            width: 125,
                            {% if user.level_1 %}
                                editor: "input",
                            {% endif %}
                        },
                        {
                            title: "Localisation",
                            field: "localisation_name",
                            {% if user.level_1 %}
                                editor: "list",
                            {% endif %}
                            hozAlign: 'right',
                            validator: "required",
                            editorParams: {
                                placeholderEmpty: "Aucun Localisation",
                                autocomplete: "true", allowEmpty: true, listOnEmpty: true,
                                valuesURL: "{% url 'apps:gat_all_localisation' %}",
                                placeholderLoading: "Chargement...",

                                formatter: function (value, data, cell) {
                                    if (value && value.label) {
                                        return value.label;  // Access and return the label from the value object
                                    } else {
                                        return "";
                                    }
                                }
                            },
                        },
                        {
                            title: "Début panne",
                            hozAlign: "right",
                            field: "start",
                            width: 100,
                            sorter: "datetime",
                            {% if user.level_1 %}
                                editor: "datetime",
                            {% endif %}
                            editorParams: {
                                format: "dd/MM/yyyy hh:mm:ss",
                                verticalNavigation: "table",
                            }

                        },
                        {
                            title: "Demande rdv",
                            field: "appointment",
                            sorter: "datetime",
                            width: 100,
                            {% if user.level_1 %}
                                editor: "datetime",
                            {% endif %}

                            editorParams: {
                                format: "dd/MM/yyyy hh:mm:ss",
                                verticalNavigation: "table",
                            }


                        },
                        {
                            title: "Entrée garage",
                            field: "enter",
                            sorter: "datetime",
                            width: 100,
                            {% if user.level_1 %}
                                editor: "datetime",
                            {% endif %}
                            editorParams: {
                                format: "dd/MM/yyyy hh:mm:ss",
                                verticalNavigation: "table",
                            }
                        },
                        {
                            title: "DEMANDE DE TRAVAUX",
                            field: "works",
                            {% if user.level_1 %}
                                editor: textareaPopup,
                            {% endif %}

                            width: 200,
                            formatter: function (cell, formatterParams) {
                                // Get the value from the cell
                                const value = cell.getValue();

                                // Use DOMPurify to sanitize the HTML content (optional but recommended for security)
                                const cleanText = DOMPurify.sanitize(value);

                                // Create a temporary element to remove HTML tags
                                const tempElement = document.createElement('div');
                                tempElement.textContent = cleanText;

                                // Return the plain text content
                                return tempElement.textContent;
                            },
                            editorParams: {
                                selectContents: true,
                                verticalNavigation: "editor",
                                shiftEnterSubmit: true,
                                maskAutoFill: true,

                            },
                            accessorDownload: textareaAccessor
                        },
                        {
                            title: "Date de sortie du garage",
                            field: "leave",
                            sorter: "datetime",
                            width: 100,
                            {% if user.level_1 %}
                                editor: "datetime",
                            {% endif %}
                            editorParams: {
                                format: "dd/MM/yyyy hh:mm:ss", // the format of the date value stored in the cell
                                verticalNavigation: "table", //navigate cursor around table without changing the value

                            }
                        },
                        {
                            title: "Km/H Entrée Garage",
                            field: '',
                            editor: false,
                            width: 100,
                            download: true
                        },
                        {
                            title: "Km/H Sortie Garage",
                            field: '',
                            editor: false,
                            width: 100,
                            download: true
                        },
                    ]
                },
                {
                    title: "Nb Jours Immo",
                    width: 100,
                    editor: false,
                    hozAlign: "right",
                    download: true,
                    formatter: calculImmo,
                },
                {
                    title: "SAV ID Motors",
                    columns: [
                        {
                            title: "N° OR (ordre de réparation)",
                            hozAlign: "right",
                            field: "order",
                            width: 100,
                            {% if user.level_2 %}
                                editor: "number",
                            {% endif %}
                            editorParams: {
                                min: 0,
                                max: 100,
                                elementAttributes: {
                                    maxlength: "10", //set the maximum character length of the input element to 10 characters
                                },
                                mask: "999",
                                selectContents: true,
                                verticalNavigation: "table", //up and down arrow keys navigate away from cell without changing value
                            }
                        },
                        {
                            title: "ETAT PIECES REF",
                            field: "piece",
                            {% if user.level_2 %}
                                editor: textareaPopup,
                            {% endif %}

                            accessorDownload: textareaAccessor,

                            width: 200,
                            formatter: function (cell, formatterParams) {
                                // Get the value from the cell
                                const value = cell.getValue();

                                // Use DOMPurify to sanitize the HTML content (optional but recommended for security)
                                const cleanText = DOMPurify.sanitize(value);

                                // Create a temporary element to remove HTML tags
                                const tempElement = document.createElement('div');
                                tempElement.textContent = cleanText;

                                // Return the plain text content
                                return tempElement.textContent;
                            },
                        },
                        {
                            title: 'DIAGNOSTICS/TRAVAUX EFFECTUER AUX ATELIER & COMMENTAIRES SAV',
                            field: 'diagnostics',
                            {% if user.level_2 %}
                                editor: textareaPopup,
                            {% endif %}
                            accessorDownload: textareaAccessor,

                            width: 200,
                            formatter: function (cell, formatterParams) {
                                // Get the value from the cell
                                const value = cell.getValue();

                                // Use DOMPurify to sanitize the HTML content (optional but recommended for security)
                                const cleanText = DOMPurify.sanitize(value);

                                // Create a temporary element to remove HTML tags
                                const tempElement = document.createElement('div');
                                tempElement.textContent = cleanText;

                                // Return the plain text content
                                return tempElement.textContent;
                            },
                            editorParams: {
                                selectContents: true,
                                verticalNavigation: "editor",
                                shiftEnterSubmit: true,
                                maskAutoFill: true,
                            },
                        },
                        {
                            title: "Date prévisionnelle de sortie garage",
                            field: "prevision",
                            {% if user.level_2 %}
                                editor: textareaPopup,
                            {% endif %}
                            accessorDownload: textareaAccessor,

                            width: 200,
                            formatter: function (cell, formatterParams) {
                                // Get the value from the cell
                                const value = cell.getValue();

                                // Use DOMPurify to sanitize the HTML content (optional but recommended for security)
                                const cleanText = DOMPurify.sanitize(value);

                                // Create a temporary element to remove HTML tags
                                const tempElement = document.createElement('div');
                                tempElement.textContent = cleanText;

                                // Return the plain text content
                                return tempElement.textContent;
                            },
                            editorParams: {
                                selectContents: true,
                                verticalNavigation: "editor",
                                shiftEnterSubmit: true,
                                maskAutoFill: true,
                            },
                        },
                    ]
                },
                {
                    title: "Achat et Import ID Motors",
                    columns: [
                        {
                            title: 'COMMENTAIRES ACHATS',
                            field: 'achats',
                            {% if user.level_3 %}
                                editor: textareaPopup,
                            {% endif %}
                            accessorDownload: textareaAccessor,

                            width: 200,
                            formatter: function (cell, formatterParams) {
                                // Get the value from the cell
                                const value = cell.getValue();

                                // Use DOMPurify to sanitize the HTML content (optional but recommended for security)
                                const cleanText = DOMPurify.sanitize(value);

                                // Create a temporary element to remove HTML tags
                                const tempElement = document.createElement('div');
                                tempElement.textContent = cleanText;

                                // Return the plain text content
                                return tempElement.textContent;
                            },
                            editorParams: {
                                selectContents: true,
                                verticalNavigation: "editor",
                                shiftEnterSubmit: true,
                                maskAutoFill: true,
                            },
                        },
                        {
                            title: 'COMMENTAIRES IMPORT',
                            field: 'imports',
                            {% if user.level_3 %}
                                editor: textareaPopup,
                            {% endif %}
                            accessorDownload: textareaAccessor,

                            width: 200,
                            formatter: function (cell, formatterParams) {
                                // Get the value from the cell
                                const value = cell.getValue();

                                // Use DOMPurify to sanitize the HTML content (optional but recommended for security)
                                const cleanText = DOMPurify.sanitize(value);

                                // Create a temporary element to remove HTML tags
                                const tempElement = document.createElement('div');
                                tempElement.textContent = cleanText;

                                // Return the plain text content
                                return tempElement.textContent;
                            },
                            editorParams: {
                                selectContents: true,
                                verticalNavigation: "editor",
                                shiftEnterSubmit: true,
                                maskAutoFill: true,
                            },
                        },
                    ]
                },
                {
                    title: "Nb Jours Immo Réelle",
                    width: 100,
                    editor: false,
                    hozAlign: "right",
                    formatter: calculImmoReel,
                    download: true,
                },
                {
                    title: "Actif / Non Actif",
                    field: 'status',
                    width: 100,
                    editor: false,
                    hozAlign: "center",
                    formatter: stateLine,
                    formatterParams: { // Define properties for conditional formatting
                        activeBackgroundColor: "#90EE90", // Light green
                        inactiveBackgroundColor: "#FFCDD2" // Light red
                    },
                    download: true,
                },
                {
                    title: "DECISION",
                    field: "decision",
                    {% if user.level_4 %}
                        editor: textareaPopup,
                    {% endif %}
                    accessorDownload: textareaAccessor,

                    width: 200,
                    formatter: function (cell, formatterParams) {
                        // Get the value from the cell
                        const value = cell.getValue();

                        // Use DOMPurify to sanitize the HTML content (optional but recommended for security)
                        const cleanText = DOMPurify.sanitize(value);

                        // Create a temporary element to remove HTML tags
                        const tempElement = document.createElement('div');
                        tempElement.textContent = cleanText;

                        // Return the plain text content
                        return tempElement.textContent;
                    },
                },
                {
                    title: "Piece Jointe",
                    frozen: true,
                    {% if user.level_4 %}
                        editor: uploadPiecePopup,
                    {% endif %}
                  },
                {
                    formatter: iconDelete,
                    headerSort: false,
                    frozen: true,
                    resizable: false,
                    hozAlign: "center",
                    download: false,
                    cellClick: function (e, cell) {

                        let breakdownId = cell.getData().uid_name;
                        if (breakdownId) {
                            if (confirm("Est-vous sûr de vouloir supprimer ceci ?")) {

                                fetch("{% url 'apps:delete_breakdown' %}", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/x-www-form-urlencoded",
                                        "X-CSRFToken": "{{ csrf_token }}"
                                    },
                                    body: "breakdown_id=" + breakdownId
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.success) {
                                            table.deleteRow(cell.getRow());

                                        } else {
                                            console.error("Error deleting Breakdown:", data.error);
                                        }
                                    })
                                    .catch(error => {
                                        console.error("Error deleting Breakdown:", error);
                                    });
                            }

                        } else {
                            table.deleteRow(cell.getRow());
                        }
                    }
                }
            ],
            groupBy: function (rowData) {
                let rowStart = rowData.start;
                let rowLeave = rowData.leave;

                let val;
                if (rowStart) {
                    if (rowLeave) {
                        val = 'Active';
                    } else {
                        val = 'Non Active';
                    }
                } else {
                    val = rowData.status;
                }
                return val || "Nouveaux";
            },
            groupHeader: function (value, count, data, group) {

                return value + "<span style='color:#d00; margin-left:10px;'>(" + count + " machines)</span>";
            },
        });

        // Assurez-vous d'inclure xlsx.full.min.js dans votre projet

        document.getElementById("download-xlsx").addEventListener("click", function () {
            table.download("xlsx", "panne " + new Date() + ".xlsx", {
                sheetName: "Pannes",
                documentStyles: true, // Utilisez les styles de votre document pour la feuille Excel
                columnStyles: [{width: 100}, {width: 200}, {width: 150}, {width: 150}, {width: 100}, {width: 100}, {width: 100}, {width: 100}, {width: 100}, {width: 200}, {width: 100}, {width: 200}, {width: 200}, {width: 200}, {width: 100}, {width: 100}], // Définissez la largeur des colonnes
                rowStyles: function (row) {
                    // Définissez les styles des lignes individuelles si nécessaire
                    return {
                        font: {bold: true}, // Par exemple, rend les lignes en gras
                    };
                },
                headerStyles: {
                    fill: {
                        fgColor: {rgb: "FF0000"}, // Couleur de fond pour les en-têtes
                    },
                    font: {color: {rgb: "FFFFFF"}}, // Couleur du texte pour les en-têtes
                    border: {
                        top: {style: "thin", color: {auto: 1}}, // Bordure supérieure
                        bottom: {style: "thin", color: {auto: 1}}, // Bordure inférieure
                        left: {style: "thin", color: {auto: 1}}, // Bordure gauche
                        right: {style: "thin", color: {auto: 1}}, // Bordure droite
                    },
                },
            });
        });


        document.getElementById("print-table").addEventListener("click", function () {
            const printData = table.getData(true, false); // Obtenez les données sans le format
            printData.forEach(row => {
                // Nettoyez le contenu HTML dans chaque ligne
                Object.keys(row).forEach(key => {
                    row[key] = sanitizeHTML(row[key]);
                });
            });
            table.print(false, true, printData);
        });


        table.on("rowMoved", function (row) {
            console.log("Row: " + row.getData().matriculate + " has been moved");
        });

        //undo button
        document.getElementById("history-undo").addEventListener("click", function () {
            table.undo();
        });

        //redo button
        document.getElementById("history-redo").addEventListener("click", function () {
            table.redo();
        });

        document.addEventListener('DOMContentLoaded', function () {
            try {
                document.getElementById('openModalBtn').addEventListener('click', function () {
                    let myModal = new bootstrap.Modal(document.getElementById('chartModal'));
                    myModal.show();

                    function getAllData(urls) {
                        return new Promise(function (resolve, reject) {
                            let xhr = new XMLHttpRequest();
                            xhr.open('GET', urls, true);  // Remplacez '/path/to/get_all_permission/' par l'URL réelle de votre vue Django
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState === XMLHttpRequest.DONE) {
                                    if (xhr.status === 200) {
                                        let response = JSON.parse(xhr.responseText);
                                        resolve(response);
                                    } else {
                                        reject(xhr.responseText);
                                    }
                                }
                            };
                            xhr.send();
                        });
                    }

                    getAllData('{% url 'apps:get_all_breakdown' %}').then(function (data) {
                        let datas = JSON.parse(JSON.stringify(data))

                        Highcharts.mapChart('container-map', {
                            chart: {
                                margin: 0
                            },

                            title: {
                                text: ''
                            },

                            subtitle: {
                                text: ''
                            },

                            navigation: {
                                buttonOptions: {
                                    align: 'left',
                                    theme: {
                                        stroke: '#e6e6e6'
                                    }
                                }
                            },

                            mapNavigation: {
                                enabled: true,
                                buttonOptions: {
                                    alignTo: 'spacingBox'
                                }
                            },

                            mapView: {
                                center: [46.3927, -18.6174],
                                zoom: 7
                            },

                            tooltip: {
                                pointFormat: '{point.name}'
                            },

                            legend: {
                                enabled: true,
                                title: {
                                    text: 'Map Engin en Pane'
                                },
                                align: 'left',
                                symbolWidth: 20,
                                symbolHeight: 20,
                                itemStyle: {
                                    textOutline: '1 1 1px rgba(255,255,255)'
                                },
                                backgroundColor: 'rgba(255,255,255,0.8)',
                                float: true,
                                borderColor: '#e6e6e6',
                                borderWidth: 1,
                                borderRadius: 2,
                                itemMarginBottom: 5
                            },

                            plotOptions: {
                                mappoint: {
                                    dataLabels: {
                                        enabled: false
                                    }
                                }
                            },
                            series: [{
                                type: 'tiledwebmap',
                                name: 'Engin en panne',
                                provider: {
                                    type: 'OpenStreetMap'
                                },
                                showInLegend: false
                            }, {
                                type: 'mappoint',
                                name: 'Panne',
                                marker: {
                                    symbol: 'url(https://www.highcharts.com/samples/graphics/museum.svg)',
                                    width: 24,
                                    height: 24
                                },
                                data: datas
                            },]
                        });
                    }).catch(function (error) {
                        console.error(error);
                    });
                });

            } catch (e) {

            }

        });

        let fieldEl = document.getElementById("filter-field");
        let typeEl = document.getElementById("filter-type");
        let valueEl = document.getElementById("filter-value");


        //Trigger setFilter function with correct parameters
        function updateFilter() {
            let filterVal = fieldEl.options[fieldEl.selectedIndex].value;
            let typeVal = typeEl.options[typeEl.selectedIndex].value;

            let filter = filterVal;

            if (filterVal === "function") {
                typeEl.disabled = true;
                valueEl.disabled = true;
            } else {
                typeEl.disabled = false;
                valueEl.disabled = false;
            }

            if (filterVal) {
                table.setFilter(filter, typeVal, valueEl.value);
            }
        }

        //Update filters on value change
        document.getElementById("filter-field").addEventListener("change", updateFilter);
        document.getElementById("filter-type").addEventListener("change", updateFilter);
        document.getElementById("filter-value").addEventListener("keyup", updateFilter);

        //Clear filters on "Clear Filters" button click
        document.getElementById("filter-clear").addEventListener("click", function () {
            fieldEl.value = "";
            typeEl.value = "=";
            valueEl.value = "";

            table.clearFilter();
        });
    </script>
{% endblock %}