{% extends 'base.html' %}
{% load static %}

{% block title %}
    Administration
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'fancygrid/fancy.min.css' %}">
{% endblock %}
{% block content %}
    <main class="container-fluid mt-4">
        <div class="card">
            <div class="card-header">
                Liste des Utilisateurs
            </div>
            <div class="card-body">
                <div id="container"></div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'fancygrid/fancy.min.js' %}"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            new FancyGrid({
                renderTo: 'container',
                title: 'CRUD',
                width: '100%',
                height: 400,
                theme: 'bootstrap',
                trackOver: true,
                selModel: 'rows',
                data: {
                    proxy: {
                        api: {
                            create: '',
                            read: '{% url 'guard:get_all_users_json' %}',
                            update: '',
                            destroy: ''
                        }
                    }
                },
                defaults: {
                    type: 'string',
                    width: 100,
                    editable: true,
                    sortable: true,
                    resizable: true,
                    ellipsis: true
                },
                paging: true,
                clicksToEdit: 1,
                tbar: [{
                    type: 'button',
                    text: 'Add',
                    action: 'add',

                }, {
                    type: 'button',
                    text: 'Delete',
                    action: 'remove'
                }],
                columns: [
                    {
                        index: 'username',
                        locked: true,
                        width: 150,
                        title: 'Identifiant'
                    },
                    {
                        index: 'first_name',
                        title: 'Nom',
                        width: 200,
                    },
                    {
                        index: 'last_name',
                        title: 'Prénom',
                        width: 200,
                    },
                    {
                        index: 'email',
                        title: 'Email',
                        width: 200,
                        vtype: 'email'
                    },
                    {
                        index: 'autoriser',
                        width: 100,
                        title: 'Autoriser',
                        type: 'checkbox'
                    },
                    {
                        index: 'is_staff',
                        width: 100,
                        title: 'Staff',
                        type: 'checkbox'
                    },
                    {
                        index: 'is_superuser',
                        width: 100,
                        title: 'Super Utilisateur',
                        type: 'checkbox'
                    },
                    {
                        index: 'date_joined',
                        {#locked: true,#}
                        title: 'Connexion',
                        width: 150
                    },
                    {
                        type: 'action',
                        {#locked: true,#}
                        items: [{
                            text: '<i class="fas fa-trash"></i>',
                            cls: 'action-column-remove d-flex align-item-center',
                            action: 'remove'
                        }]
                    }

                ]
            });
        });
    </script>
{% endblock %}