{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if messages %}
        <div class="messages mt-2">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
                     role="alert">
                    <strong>{{ message.tags|title }}! </strong> {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card px-3 py-5 shadow" id="form1">
                    <div class="justify-content-center align-items-center text-center">
                        <img src="{% static 'img/logo-inviso.ico' %}" alt="" class="img-fluid" width="100">
                    </div>

                    <h5 class="text-center mt-4">Authentification</h5>
                    <form id="" class="form-data mt-3 mb-3" method="post" action="{% url 'guard:login' %}">
                        {% csrf_token %}
                        <div class="forms-inputs mb-4">
                            <span>{{ form.username.label_tag }}</span>
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="invalid-feedback">{{ form.username.errors }}!</div>
                            {% endif %}
                        </div>
                        <div class="forms-inputs mb-4">
                            <span>{{ form.password.label_tag }}</span>
                            {{ form.password }}
                            {% if form.password.errors %}
                                <div class="invalid-feedback">{{ form.password.errors }}!</div>
                            {% endif %}
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-dark w-100">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block style %}{% endblock %}
{% block script %}
{#    <script>#}
{#        let app = new Vue({#}
{#            el: '#form1',#}
{#            data: function () {#}
{#                return {#}
{#                    email: "",#}
{#                    emailBlured: false,#}
{#                    valid: false,#}
{#                    submitted: false,#}
{#                    password: "",#}
{#                    passwordBlured: false#}
{#                }#}
{#            },#}
{##}
{#            methods: {#}
{##}
{#                validate: function () {#}
{#                    this.emailBlured = true;#}
{#                    this.passwordBlured = true;#}
{#                    if (this.validEmail(this.email) && this.validPassword(this.password)) {#}
{#                        this.valid = true;#}
{#                    }#}
{#                },#}
{##}
{#                validEmail: function (email) {#}
{##}
{#                    let re = /(.+)@(.+){2,}\.(.+){2,}/;#}
{#                    if (re.test(email.toLowerCase())) {#}
{#                        return true;#}
{#                    }#}
{##}
{#                },#}
{##}
{#                validPassword: function (password) {#}
{#                    if (password.length > 7) {#}
{#                        return true;#}
{#                    }#}
{#                },#}
{##}
{#                submit: function () {#}
{#                    this.validate();#}
{#                    if (this.valid) {#}
{#                        this.submitted = true;#}
{#                    }#}
{#                }#}
{#            }#}
{#        });#}
{#    </script>#}
{% endblock %}