{% load static %}
{% load fontawesome_6 %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Panne | {% block title %}{% endblock %}</title>
    {% fontawesome_6_static %}
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/dataTables.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/buttons.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'tabulator/dist/css/tabulator.min.css' %}">
    <link rel="stylesheet" href="{% static 'tabulator/dist/css/tabulator_bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'tabulator/dist/css/tabulator_bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'tabulator/dist/css/tabulator_midnight.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
{% include 'partials/_navbar.html' %}
{% block content %}{% endblock %}
{% include 'partials/_modal_add_machine.html' %}
{% include 'partials/_modal_list_machine.html' %}
<script>

</script>
<script type="text/javascript" src="{% static 'dist/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/dataTables.buttons.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/buttons.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'tabulator/dist/js/tabulator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tabulator/dist/js/luxon.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tabulator/dist/js/jspdf.umd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tabulator/dist/js/jspdf.plugin.autotable.min.js' %}"></script>
<script>
    $(function () {
        $('#id_company').selectpicker();
    });
</script>
{% block script %}{% endblock %}
</body>
</html>